<!-- Blocks -->
<!-- To dipsly a section semantically => we use section  -->
<!-- This block due to have container in its class, will be restricted to the 1140px -->
<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
      perspiciatis?
    </p>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <!-- header.card__header{Card Title} -->
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
        fugit?
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <!-- this container will confine the content of the block only in 1140px but not the total block. Block stretches itselft till end of the page => more than 1140px -->
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
      perspiciatis?
    </p>
  </div>
</section>
