<!-- Collapsibles -->

<!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
<div class="collapsible collapsible--expanded">
  <!-- header>h2{Item $}*3 -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container collapsible__chevron">
      <svg class="icon icon--white circle-around-icon">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ut?
  </div>
</div>

<!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
<div class="collapsible collapsible--expanded">
  <!-- header>h2{Item $}*3 -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container collapsible__chevron">
      <svg class="icon icon--white circle-around-icon">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ut?
  </div>
</div>
<!-- Adding our Javascript file to the html file! -->
<script src="js/main.js"></script>
