<!-- Footer -->
<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <!-- Collapsibles -->
    <!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- header>h2{Item $}*3 -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <span class="icon-container collapsible__chevron">
          <svg class="icon icon--white circle-around-icon">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>

    <!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- header>h2{Item $}*3 -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <span class="icon-container collapsible__chevron">
          <svg class="icon icon--white circle-around-icon">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>

    <!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- header>h2{Item $}*3 -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <span class="icon-container collapsible__chevron">
          <svg class="icon icon--white circle-around-icon">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>

    <!-- we have now something like true or false to show and hide the content and chevron icon using collapsible--expanded BEM class => show CSS, the Collapsibles section-->
    <section class="collapsible collapsible--expanded footer__section">
      <!-- header>h2{Item $}*3 -->
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <span class="icon-container collapsible__chevron">
          <svg class="icon icon--white circle-around-icon">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">
        Copyright &copy; 2024 by Maximilian Karimi All rights reserved.
      </p>
    </section>
  </div>
</footer>
<!-- Adding our Javascript file to the html file! -->
<script src="js/main.js"></script>
