<!-- MEDAI OBJECTS -->
<!-- .media>.media__image+.media__body -->
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary circle-around-icon">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia repellendus
      eveniet dolor quae vero cum, totam quos deleniti dolore hic!
    </p>
  </div>
</div>
