<!-- Plans Block -->
<!-- First(Entry) Card -->
<section class="block container block--plans">
  <div class="grid grid--1x3">
    <!-- <div style="width: 30%"> -->
    <!-- <div style="width: 50%; margin: 4rem"> -->
    <!-- .card -->
    <!-- card__header, __(two underscores) means that this class is an internal class and can not be available outside of the card class => it belongs only to the card class!  -->
    <!-- <div class="plan"> -->
    <div class="plan plan__entry">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <!-- span.badge.badge--secondary.badge--small -->
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy Start on the Cloud</span>
          <!-- <img
              class="plan__imageSVG"
              src="/images/popular.svg"
              alt="popular SVG"
              /> -->
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">10 TB Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
            <li class="list__item"></li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- Second(Business => Popular) Card -->
    <!-- <div style="width: 30%"> -->
    <!-- <div style="width: 50%; margin: 4rem"> -->
    <!-- .card -->
    <!-- card__header, __(two underscores) means that this class is an internal class and can not be available outside of the card class => it belongs only to the card class!  -->
    <!-- <div class="plan"> -->
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Business</h3>
          <span class="plan__price">$24</span>
          <span class="plan__billing-cycle">/month</span>
          <!-- span.badge.badge--secondary.badge--small -->
          <span class="badge badge--primary badge--small">20% OFF</span>
          <span class="plan__description">Optimal Cloud Experience</span>
          <!-- <img
                  class="plan__imageSVG"
                  src="/images/popular.svg"
                  alt="popular SVG"
                  /> -->
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">30 TB Bandwidth</li>
            <li class="list__item">500 GB SSD Storage</li>
            <li class="list__item">6 GB RAM</li>
            <li class="list__item">2 CPU Cores</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- Third(Enterprise) Card -->
    <!-- <div style="width: 30%"> -->
    <!-- <div style="width: 50%; margin: 4rem"> -->
    <!-- .card -->
    <!-- card__header, __(two underscores) means that this class is an internal class and can not be available outside of the card class => it belongs only to the card class!  -->
    <!-- <div class="plan"> -->
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Enterprise</h3>
          <span class="plan__price">$54</span>
          <span class="plan__billing-cycle">/month</span>
          <!-- span.badge.badge--secondary.badge--small -->
          <span class="badge badge--secondary badge--small">35% OFF</span>
          <span class="plan__description">Best Choice for the Cloud</span>
          <!-- <img
              class="plan__imageSVG"
              src="/images/popular.svg"
              alt="popular SVG"
              /> -->
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">1 TB SSD Storage</li>
            <li class="list__item">9 GB RAM</li>
            <li class="list__item">8 CPU Cores</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>

<script src="js/main.js"></script>
