<!-- Quotes -->
<blockquote class="quote quote--primary">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut asperiores
    consectetur eaque suscipit reiciendis quia a laborum ullam molestias
    blanditiis.
  </p>

  <!-- Iocn, The name of the person and the company name are all like the Media Objects that we had already, so we can use media again(copy paste from media.html here) to only replace the items and not more! -->
  <footer>
    <!-- MEDAI OBJECTS -->
    <!-- .media>.media__image+.media__body -->
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary circle-around-icon quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
